@{
    ViewData["Title"] = "Portfolio Dashboard";
}

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12  float-left">
        <div class="Tabs">
            <a class="active">Portfolio</a>
            <a onclick="location.href='@Url.Action("Dashboard","Admin")'" class="pl-4" href="#"><span class="angle"></span>Admin</a>
        </div>
    </div>
</div>
