@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-2 float-left">
        <div class="Tabs">
            <a onclick="location.href='@Url.Action("Dashboard","Portfolio")'" class="btnstep2 active">Portfolio</a>
            <a onclick="location.href='@Url.Action("Dashboard","Portfolio")'" class="btnstep1 pl-4" href="#"><span class="angle"></span>Admin</a>
        </div>
    </div>
</div>