@{
    ViewData["Title"] = "Dasboard";
}

<div class="dashboardTabs">
    <a class="btn btn-Success">Admin</a>
    <a class="btn btn-danger">Portfolio</a>
</div>

<div class="page-header">
    <h3 class="page-title">Create Portfolio </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Dashboard.aspx">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Portfolio Info</li>
        </ol>
    </nav>
</div>
<div class="row justify-content-center">

    <div class="col-md-12 grid-margin Portfolio mr-5">

        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 col-lg-6 center-me">

                <div class="Portfolio-steps">
                    <a class="btnstep3" href="#">
                        <span class="step-indicator mdi mdi-check-circle"></span>
                        Add Project
                    </a>
                    <a class="btnstep2" href="#">
                        <span class="step-indicator mdi mdi-check-circle"></span>
                        <span class="angle"></span>Skill & Services
                    </a>
                    <a class="btnstep1 active" href="#">
                        <span class="step-indicator mdi mdi-check-circle"></span>
                        <span class="angle"></span>Personal Info
                    </a>
                </div>

            </div>
        </div>

    </div>

    <!--  Step 1 -->

    <div class="col-md-8 grid-margin stretch-card step1container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Personal Detail</h4>

                <p class="card-description text-danger font-weight-bolder">
                    Please Fill your all information
                </p>

                <div class="form-sample">

                    <div class="row justify-content-center mb-5">
                        <div class="col-md-10">

                            <div class="background-area">
                                <input id="Filebackgroundimage" type="file" accept="~/images/*" class="uploadfile file-backgroundimage d-none" />
                                <span class="icon browse-backgroundimage">Upload Background Image</span>
                                <div class="outer-area mt-3">
                                    <input id="Fileprofileimage" type="file" accept="~/images/*" class="uploadfile file-profileimage d-none" />
                                    <div class="inner-area">
                                        <i class="mdi mdi-nest-protect"></i>
                                        <button type="button" class="browsefile browse-profileimage">
                                            <i class="mdi mdi-camera"></i>
                                        </button>
                                        <img id="profileimage" class="getimage get-profileimage" src="#" alt="your image" />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="row justify-content-center mt-5">

                        <div class="col-md-12">

                            <div class="row justify-content-center mt-5">
                                <div class="col-md-6">
                                    <div class="form-group validation validfname">
                                        <div class="d-flex">
                                            <input id="txtfname" type="text" class="form-control txtvalidate" placeholder="Enter Your First Name" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group validation validlname">
                                        <div class="d-flex">
                                            <input id="txtlname" type="text" class="form-control txtvalidate" placeholder="Enter Your Last Name" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group validation validphonenumber">
                                        <div class="d-flex">
                                            <input id="txtphonenumber" type="number" class="form-control txtvalidate" placeholder="Enter Your Phone Number" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group validation validage">
                                        <div class="d-flex">
                                            <input id="txtage" type="number" class="form-control txtvalidate" placeholder="Enter Your Age" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group validation validemail">
                                        <div class="d-flex">
                                            <input id="txtemail" type="text" class="form-control txtvalidate" placeholder="Enter Your Email" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group validation validcountry">
                                        <div class="d-flex">
                                            <input id="txtcountry" type="text" class="form-control txtvalidate" placeholder="Enter Your Country" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group validation validcity">
                                        <div class="d-flex">
                                            <input id="txtcity" type="text" class="form-control txtvalidate" placeholder="Enter Your City" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group validation validaddress">
                                        <div class="d-flex">
                                            <input id="txtaddress" type="text" class="form-control txtvalidate" placeholder="Enter Your Address" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group validation validbirthday">
                                        <div class="d-flex">
                                            <input id="txtbirthday" type="date" class="form-control txtvalidate" placeholder="Enter Your Birthday Date" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group validation validprofession">
                                        <div class="d-flex">
                                            <input id="txtprofession" type="text" class="form-control txtvalidate" placeholder="Enter Your Professsion" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group validation validaboutyourself">
                                        <div class="d-flex">
                                            <input id="txtaboutyourself" type="text" class="form-control txtvalidate" placeholder="About Yourself" />
                                            <span class="indicator"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <a id="AddPersonalDetail" class="btn btn-info float-left">+ Add Personal Detail</a>
                            <label id="lblmsg" class="ml-5 text-success"></label>
                            <a class="btn btn-info float-right SubmitPersonalDetail">
                                Next Step
                                <span class="mdi mdi-arrow-top-right-bold-outline"></span>
                            </a>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--  Skills and service 2-->
    <div class="col-md-8 grid-margin stretch-card step2container">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Skill & Services</h4>



                <div class="forms-sample mt-3">

                    <p class="card-description text-primary font-weight-bolder m-auto">Add Skills</p>

                    <div class="row justify-content-center">

                        <div class="col-md-10">
                            <div class="form-group validation validSkills">
                                <div class="d-flex">
                                    <input id="txtskills" type="text" class="form-control txtvalidate" placeholder="Enter Your Skills" />
                                    <span class="indicator"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group validation validSkillpercentage">
                                <div class="d-flex">
                                    <input id="txtskillpercentage" type="number" max="100" class="form-control txtvalidate" placeholder="%" />
                                    <span class="indicator"></span>
                                </div>
                            </div>
                        </div>

                        <a class="btn btn-success AddSkills">Add Skills</a>
                    </div>

                    <p class="card-description text-primary font-weight-bolder m-auto">Add Services</p>

                    <div class="row justify-content-center">

                        <div class="col-md-10">
                            <div class="form-group validation validSkills">
                                <div class="d-flex">
                                    <input id="txtServices" type="text" class="form-control txtvalidate w-50" placeholder="Enter Your Services" />
                                    <span class="indicator"></span>
                                </div>
                            </div>
                        </div>

                        <a class="btn btn-success AddServices">Add Services</a>
                    </div>

                    <a class="btn btn-info float-right SubmitSkills">Next Step <span class="mdi mdi-arrow-top-right-bold-outline"></span></a>

                </div>

            </div>
        </div>
    </div>


</div>

@section scripts{
    <script>
        $(".btnstep1").click(function() {
            $('.btnstep1').addClass('active');
            $('.btnstep2').removeClass('active');
            $('.btnstep3').removeClass('active');
            $('.step1container').show();
            $('.step2container').hide();
            $('.step3container').hide();
        });
        $(".btnstep2").click(function() {
            $('.btnstep1').removeClass('active');
            $('.btnstep2').addClass('active');
            $('.btnstep3').removeClass('active');
            $(".step1container").hide();
            $(".step2container").show();
            $(".step3container").hide();
        });
        $(".btnstep3").click(function() {
            $('.btnstep1').removeClass('active');
            $('.btnstep2').removeClass('active');
            $('.btnstep3').addClass('active');
            $(".step1container").hide();
            $(".step2container").hide();
            $(".step3container").show();
        });
    </script>
}